<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form th:method = "post" th:action="@{./}" th:object="${taskCreateForm}">
    <div>
        <labal>
            内容:<input type="text" th:field="*{content}"/>
        </labal>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            エラー
        </p>
    </div>
    <div>
        <input type="submit" value="make"/>
    </div>
  </form>
</body>
</html>